@import "~antd/dist/antd.css";

.container {
  display: flex;
  margin-top: 10px;
}
.ant-layout {
   background: #fff;
}
.ant-upload.ant-upload-drag .ant-upload-drag-container {
  padding: 10px;
  width: 200px;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  color: grey;
}

.ant-layout-header {
  height: 50px;
  padding: 0px;
  background: white;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: white;
  transition: all 0.2s;
}


.site-layout-background {
  background: white;
  margin-top:51px;
}

.ant-menu-sub.ant-menu-inline {
  background: white;
 
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.sales-table{
  margin-top: 30px;
}


.bar-chart{
  border-radius: 13px;
  margin:20px;
  padding:20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.barchart-container{
  margin-left:20px;
  }

  .user-chart{
    border-radius: 13px;
    margin:40px;
    padding:20px;
    width:50%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  .area-chart{
    border-radius: 13px;
    margin:20px;
    padding:20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    max-width: 500px; 
  }
  .areachart-container{
    margin-right:5px;
    }

   .chart-featured{
    width:100%;
    justify-content: space-between;
    display:flex;
    margin-top: 20px;
    /* height:150px; */
    margin-bottom: 30px;
   }

   .chart-featuredItem{
    flex: 0.5;
    margin:0px 20px;
    padding: 15px 30px;
    border-radius: 13px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: white;
   }